.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pagefourheader{
 background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/240b2f40-e2c6-4e30-bca8-30584156c410/d2vit98-11f17131-e4b3-4e49-8f6d-5b9ccf610869.jpg");
 /* background-repeat: no-repeat; */
 background-position: center;
 background-size: auto;
 background-color: #cccccc;
 
}
.field {
  width: 550px;
  height: 120px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
  
  display: inline-block;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

textarea {
    width: 500px;
    height: 100px;
 
}
